.hide{
    display: none;
}

body{
    background-color: #252e42;
}
.nav{
    background-color: #252e42;
}
.nav-item{
    color: white;
}

.nav-link{
    color: white;
    margin: 0;
}

.nav-link:hover{
    color: yellowgreen;
}

#timer:hover{
    color: white;
}

.colcontainer{
    padding: 0;
}
.main{
    color: white;
    background-color: #2f3b52;
}

#start{
    border: solid white 2px;
    background-color: yellowgreen;
}
.answerbtn{
    border: solid white 2px;
    background-color: yellowgreen;
    margin-right: 20px;
    margin-left: 20px;
}