.hide{
    display: none;
}

body{
    background-color: #252e42;
    font-family: 'Titillium Web', sans-serif;}
small{
    margin-bottom: 10px;
}
.nav{
    background-color: #252e42;
}
.nav-item{
    color: white;
}

.nav-link{
    color: white;
    margin: 0;
}

.nav-link:hover{
    color: yellowgreen;
}

#timer:hover{
    color: white;
}

.colcontainer{
    padding: 0;
}
.main{
    color: white;
    background-color: #2f3b52;
}

.btn{
    border: solid white 2px;
    background-color: yellowgreen;
    margin-top: 20px ;
}
.answerbtn{
    border: solid white 2px;
    background-color: yellowgreen;
    margin-right: 20px;
    margin-left: 20px;
}
.list-group-item{
    border: solid white 2px;
    background-color: coral;
    margin-bottom: 20px;
}